<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-universal-links"
        version="1.0.0">

    <name>Universal Links Demo</name>
    <description>A Cordova plugin to handle Universal Links on iOS and App Links on Android.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,universal-links,app-links,deep-linking</keywords>

    <!-- JavaScript interface -->
    <js-module src="www/universal-links.js" name="universalLinks">
        <clobbers target="universalLinks" />
    </js-module>

    <!-- iOS Configuration -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UniversalLinks">
                <param name="ios-package" value="UniversalLinks"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/UniversalLinks.h" />
        <source-file src="src/ios/UniversalLinks.m" />

        <!-- This preference is used to specify the associated domains for your app.
             You will need to replace 'www.your-domain.com' with your actual domain. -->
        <preference name="IOS_ASSOCIATED_DOMAINS" default="cityharvestchurch-dev.outsystemsenterprise.com" />
        <config-file target="*-Info.plist" parent="com.apple.developer.associated-domains">
            <array>
                <string>applinks:$IOS_ASSOCIATED_DOMAINS</string>
            </array>
        </config-file>
    </platform>

    <!-- Android Configuration -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UniversalLinks">
                <param name="android-package" value="com.thechcapp.cordovaplugin.UniversalLinks"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/UniversalLinks.java" target-dir="src/com/thechcapp/cordovaplugin" />

        <!-- This intent filter will capture clicks on your domain.
             You will need to replace 'www.your-domain.com' with your actual domain. -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="cityharvestchurch-dev.outsystemsenterprise.com" android:pathPrefix="/TheCHCApp/" />
            </intent-filter>
        </config-file>
    </platform>
</plugin>
